################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blackbaud.CustomFx.ConstituentPhotoAnalysis
/Blackbaud.CustomFx.ConstituentPhotoAnalysis.Catalog/obj/Debug
